<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>1st Thymeleaf - with SpringBoot</title>
</head>

<body>
    <h1 th:text="${name}"></h1>
    <a href="/hello">0. Thymeleaf-SpringBoot | Homepage</a> <br/>
    <a href="/expressionVar1">1. Variable Expression</a> <br/>
    <a href="/link/var/test">2. Link Expression</a> <br/>
    <a href="/link/query">2-1. Link Expression: 接收传参</a> <br/>

    <a href="/i18N?lang=zh_CN">1. i18n 国际化 中文</a> <br/>
    <a href="/i18N?lang=en_US">2. i18n 国际化 英文</a> <br/>
    <a href="/text">1. 文本表达式</a> <br/>
    <a href="/num">2. 数字表达式</a> <br/>
    <a href="/bool">3. 布尔表达式</a> <br/>
    <a href="/null">4. null和空字符串</a> <br/>
    <a href="/ternary">5. 三元运算</a> <br/>
    <a href="/attr">6. th:attr属性赋值演示</a> <br/>
    <a href="/boolAtt">7. 布尔属性赋值演示</a> <br/>
    <a href="/body/text">8. th:text & th:utext 区别演示</a> <br/>
    <a href="/each">9. th:each 演示</a> <br/>
</body>
</html>