<!Doctype HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Expression Variables</title>
</head>
<body>
<p>相对路径链接:</p>
<a th:href="@{queryStudent}">1. @{queryStudent}</a> <br />
<a th:href="@{./queryStudent}">2. ./queryStudent</a> <br />
<a th:href="@{../user/list}">3. ../user/list</a> <br />
<a th:href="@{/user/home}">4. /user/home</a> <br />
<a th:href="@{http://www.baidu.com}">5. http://www.baidu.com</a> <br />
<a th:href="@{/link/query(id=${id},name=${name})}">6. 链接表达式接受传参,多个参数用逗号隔开</a>


<div>
    <span>
        <p>
            链接表达式的使用场景
                页面导航：在网站或应用程序中生成页面之间的导航链接。
                动态参数：生成带有动态参数的链接，例如用户个人资料页面。
                外部链接：生成指向外部网站或资源的链接。
                防止硬编码：避免在 HTML 中硬编码链接，使得链接更易于管理和维护。
        </p>
    </span>
</div>
</body>
</html>